*.dbmdl
*.log
*.out
*.scc
*.sln.docstates
*.suo
*.user
*.userosscache
*.vbw
*.vssscc
*.oca
*.transcript
*.idl

**/[Bb]in/*
!serversConfig/**/bin/*
**/[Oo]bj/*
**/nugetPackages/**
**/.vs/*

*.jfm
*.sln.vsext

